<h1>Hi! Please confirm your email!</h1>
{# <img src="{{ email.image('@images/google.png') }}" alt="Logo"> #}

<p>
	Please confirm your email address by clicking the following link:
	<br><br>
	{# <a href="{{ signedUrl|raw }}">Confirm my Email</a>. #}
		    This link will expire in
	{# {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}. #}
</p>

<p>
	Cheers!
</p>
{# 
{% block content %}
	<div class="container ">
		{% apply inky_to_html | inline_css(source('@styles/email.css'))%}
		<row>
			<columns large="12" class="text-center">
				<h1>Bienvenido a mi sitio web</h1>
				<p>Este es un ejemplo de cómo usar Inky con Twig.</p>
			</columns>

		</row>
		<row>
			<columns large="6">
				<p>parece que funciona</p>
				<img src="{{ email.image('@images/google.png') }}" alt="Imagen de ejemplo">
			</columns>
		</row>
		{% endapply %}
	</div>
{% endblock %} #}